*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 50vh;
    width: 25vw;
    background-color: aquamarine;
    border-radius: 50%;
    border: 2px solid red;
}