* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
    background: transparent;
}
.main form{
    background-color: #ff1212;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);   
}
h2{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
label{
    color: white;
    margin-bottom: 10px;
    display: block; 

}
input{
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    
}